// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin_orders_table {
	margin-top: 20px;
}
.admin_orders_show_table {
	margin-top: 10px;
	margin-bottom: 10px;
}
.admin_orders_show_table_2 th {
	width:100px;
	height: 50px;
	padding:5px;
}
.admin_orders_show_table_2 th:nth-child(1) {
	width:300px;
}
.admin_orders_show_table_2 td {
	padding:5px;
	height: 50px;
}
.admin_orders_show_table_3 th {
	width:100px;
	height: 50px;
	padding:5px;
	font-size: 15px;
}
.admin_orders_show_table_3 td {
	font-size: 15px;
}