<div class="container">
 	<div class="row">
 		<div class=" page-title col-md-10 col-md-offset-1">

 			<h4><span style="background-color: silver;">
 				管理者画面</span>
 			</h4>

 		</div>

 		<div class="col-md-7">

 			<h3>本日の商品件数  0  件</h3>

 		</div>
 	</div>
</div>