/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



input[type="email"] {
        width: 300px;
        height: 40px;
        margin-left:20px;
    }
input[type="password"] {
        width: 300px;
        height: 40px;
        margin-left:20px;
    }
.field-email {
	text-align: center;
	margin-top: 50px;
}
.field-password {
	text-align: center;
	margin-top: 50px;
	margin-left:25px;
}
.actions {
	margin-top: 30px;
	text-align: center;
}
.field-password-up {
	text-align: center;
	margin-top: 50px;
}

.col-md-10 {
	margin-bottom: 100px;
}

table, th, td {
	border-style:none!important;
}

.col-md-2{
	margin-top: 50px;
}