// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deli-table th{
	width: 250px;
}
.deli-table td{
	width: 300px;
}
.deli-table tr{
	height:50px;
}
.deli-table {
	font-size: 20px;
	margin-top: 20px;
}
.deli-btn{
	width:200px;
}


