// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



span {
	background-color: silver;
}

.deli_table th{
	width: 250px;
}
.deli_table td{
	width: 300px;
}
.deli_table tr{
	height:50px;
}
.deli_table {
	font-size: 20px;
	margin-top: 20px;
}
.deli_btn{
	width:200px;
}
.deli_table_2 {
	margin-top: 100px;
	width: 700px;
}
.deli_table_2 th {
	width: 100px;
	height: 40px;
	padding: 5px;
}
.deli_table_2 th:nth-child(2) {
	width: 300px;
}
.deli_table_2 th:nth-child(4) {
	width: 200px;
}
.deli_table_2 td {
	height: 70px;
	padding: 5px;
}
.deli_table_2 td:nth-child(4) {
	text-align: center;
}

.delivery_address {
	width: 350px;
	height: 37px;
}


@media screen and (max-width:425px) {
	
	.deli_table th{
		padding-right:45px;
		padding-top:20px;
		font-size: 15px;
	}
	.deli_table td {
		padding: 5px;
	}
	.delivery_address {
		width: 250px;
		height: 37px;
	}
	.deli_table_2 {
		margin-top: 20px;
		width: 100%;
	}
	.deli_table_2 th {
		width: 70px;
		height: 40px;
		padding: 5px;
	}
	.deli_table_2 th:nth-child(2) {
		width: 150px;
	}
	.deli_table th{
		padding-right:45px;
		padding-left: 30px;
		padding-top:20px;
	}
}