// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



span {
	background-color: silver;
}
h3 {
	float: left;
}
.mypage_btn {
	padding-top: 15px;
	float: left;
	margin-left: 50px;
}
.mypage_table th{
	width: 250px;
	padding:5px;
}
.mypage_table td{
	width: 600px;
	padding:5px;
}
.mypage_table tr{
	height:50px;
}
.mypage_table {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.mypage_btn_delivery {
	padding-top: 15px;
	float: left;
	margin-left: 75px;
}
.mypage_edit th{
	padding-right:40px;
	padding-top:20px;
}
.mypage_edit_action {
	margin-top: 20px;
}


@media screen and (max-width:425px) {
	

	.mypage_edit th{
		padding-right:45px;
		padding-left: 30px;
		padding-top:20px;
	}
	.mypage_edit td {
		padding: 5px;
	}
	.mypage_edit_action {
		margin-top: 20px;
		text-align: center;
	}
}