// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span {
	background-color: silver;
}
h3 {
	float: left;
}
.mypage_btn {
	padding-top: 15px;
	float: left;
	margin-left: 50px;
}
.mypage_table th{
	width: 250px;
}
.mypage_table td{
	width: 600px;
}
.mypage_table tr{
	height:50px;
}
.mypage_table {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.mypage_btn_delivery {
	padding-top: 15px;
	float: left;
	margin-left: 75px;
}
