<div class="container">
 	<div class="row">


 		<div class="col-md-10 col-md-offset-2">
 			<h2>商品一覧</h2>
			<div class="index-products">
				<% @products.each do |product| %>
					<div class="index-products-1" style="float: left;">

	 					<%= link_to product_path(product.id) do %>
	 						<%= attachment_image_tag product, :image, :fill, 200, 150 %>
	 					<% end %>
	 					<%= product.name %><br />
	 					<%= product.price %>

	 				</div>
 				<% end %>
 			</div>
 		</div>

 	</div>
</div>